@use '../../styles/variables' as *;

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: $color-background;
    text-align: center;
    padding: 0 20px;
    margin-top: auto;

    &__title {
        font-size: 40px;
        color: #fff;
        font-weight: 300;
        margin: 0;
    }

    @media (max-width: $bp-mobile) {
        height: 140px;

        &__title {
            font-size: 24px;
        }
    }
}
